.content__header {
  background-color: var(--light-green);
  width: 100%;
  padding: 1.0625rem 1em 2.5rem 1em;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  position: relative;
}

.content__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.image__logo {
  width: 2.8125rem;
  height: 1.875rem;
}

.logo > h2 {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--white-fixed);
  font-family: var(--text-font);
}

.image__menu-button > img {
  width: 2.1875rem;
  height: 2.1875rem;
}

.content__sub-header {
  display: flex;
  flex-wrap: wrap-reverse;
  row-gap: 30px;
  justify-content: center;
}

.content__welcome {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.content__welcome > h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-fixed);
  font-family: var(--text-font);
  letter-spacing: 5px;
  text-transform: uppercase;
}

.content__welcome > h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--white-fixed);
  font-family: var(--title-font);
}

.content__welcome > p {
  font-size: 0.9375rem;
  color: var(--white-opacity);
  font-family: var(--text-font);
  line-height: 125%;
}

.content__welcome > .default__button {
  background-color: var(--white-fixed);
  margin-top: calc(1.5rem - 0.9375rem);
}

.content__welcome > .default__button:hover {
  transform: scale(1.1);
}

.default__button {
  font-size: 1.25rem;
  font-family: var(--text-font);
  width: 10.625rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.content__main-image {
  width: 40rem;
}

.content__main-image > img {
  width: 100%;
  height: auto;
}

.nav__links {
  display: none;

  position: absolute;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white-fixed);
  border-radius: 0.25rem;
  box-shadow: 0.375rem 0.375rem 0.5625rem 0.0625rem rgba(0, 0, 0, 0.39);
  width: 95%;
  padding: 1em;
  margin-top: 1em;
}

.content__list-links > li > a {
  font-size: 1.25rem;
  color: var(--dark-0);
  font-family: var(--text-font);
}

.content__list-links > li {
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}

.content__list-links > li:hover {
  transform: scale(1.1);
}

#menu {
  display: none;
}

.content__menu:checked ~ .nav__links {
  display: block;
}

@media screen and (min-width: 768px) {
  .content__header {
    row-gap: 2.5rem;
    padding: 2rem 2em 0rem 2em;
  }

  .image__menu-button {
    display: none;
  }

  .nav__links {
    display: flex;
    background-color: transparent;
    padding: 0;
    margin-top: 0;
    transform: translateX(0);
    width: 100%;
    position: static;
    box-shadow: none;
  }

  .content__list-links {
    display: flex;
    column-gap: 1.875rem;
  }

  .content__list-links > li > a {
    font-size: 1.25rem;
    color: var(--white-fixed);
    font-family: var(--text-font);
  }

  .content__sub-header {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 5.125rem;
  }

  .content__welcome {
    max-width: 416px;
  }
}

@media screen and (min-width: 1440px) {
  .content__header {
    padding: 2rem 8rem;
  }

  .content__welcome {
    justify-content: center;
  }
}
